/*HEADER*/

.main-container {
    max-width: 80vw;  /*view width - é uma medida responsiva para cada tipo de tela*/
    height: 100vh; /*view height*/
    margin-left: 320px;
    margin-right: 56px;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--third-black);
}

.header_navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_navigation .navigation .arrow-left {
    margin-right: 1.25rem; /*Medida relativa ao tamanho de onde está carregado*/
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--second-black);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header_login {
    display: flex;
    align-items: center;
}

.header_search {
    display: flex;
    align-items: center;
    width: 500px;
    height: 48px;
    margin-left:8px;
    background-color: var(--forth-black);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header_search ::placeholder{
    font-weight:600;
}

.header_search img {
    width: 18px;
    height: 18px;
    margin-left: 12px;
}

.header_search input {
    background: transparent;
    border: none;
    padding: 0px 120px 0px 12px;
    color: var(--white-icons-outline);
    text-overflow: ellipsis; /* coloca a reticências quando a string fica muito grande*/
    overflow: hidden;
    white-space: nowrap; /*Não vai quebrar a linha quando o texto for muito grande*/
    outline: none; /*borda do texto de input*/
    width: 100%;
    font-weight:500;
    font-size: 16px;
}

.header_login .subscribe {
    color: var(--third-gray);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.header_login .login {
    width: 100px;
    height: 48px;
    color: var(--full-black);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--full-white);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.navigation_section {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    background-color: var(--second-black);
    border-radius: 10px;
}

.playlist-greeting {
    margin: 24px;
}

.playlist-greeting #greeting {
    color: var(--full-white);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.playlist-greeting .greeting-subtitle {
    color: var(--full-white);
    font-size: 24px;
    font-weight: 700;
}