:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --full-black: #000;
    --first-black: #181818;
    --second-black: #131313;
    --third-black: #121212;
    --bg-arrow-color: rgba(0,0,0,0.7);
    --forth-black: #242424;
    --first-gray: #b3b3b3;
    --second-gray: #878787;
    --third-gray: #a7a7a7;
    --full-white: #ffff;
}